@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-main {
  font-family: "Mooli", sans-serif;
}

@layer components {
  .main-container {
    @apply min-h-screen bg-neutral-200 grid place-items-center;
  }
  .cal {
    @apply h-[24rem] w-[26rem] p-4 bg-white border border-gray-400 rounded;
  }
  .heading {
    @apply grid grid-cols-2 items-center;
  }
  .btn {
    @apply p-1 mx-1 border border-neutral-400 rounded-full cursor-pointer;
  }
  .days {
    @apply py-1 my-4 bg-neutral-300 grid grid-cols-7 place-items-center rounded;
  }
  .dates-arr {
    @apply h-full px-1 grid grid-cols-7 place-items-center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .highlight {
    @apply p-1 px-2 bg-neutral-600  rounded-full;
    color: white !important;
  }
}
